<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>芝华士Chivas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="/app/css/style.css"/>
    <!-- endinject -->

    <script type="text/javascript" src="http://wechatjs.curio.im/api/v1/js/8309bc61-3c78-41d5-a1be-2f9e9ca01e95/wechat.js"></script>

    <!-- inject:js -->
    <script type="text/javascript" src="../js/lib/zepto.min.js"></script>
    <script type="text/javascript" src="../js/lib/pre-loader.js"></script>
    <script type="text/javascript" src="../js/rem.js"></script>
    <script type="text/javascript" src="../js/controller.js"></script>
    <script type="text/javascript" src="../js/weixinshare.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <!-- endinject -->
</head>
<body>
<div class="preloading">
    <div class="inner">
        <div class="l-logo">
            <img src="/images/logo.png" alt=""/>
        </div>
        <div class="icon-loading">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <p class="des-loading">
            目前涌入的小伙伴过多<br>
            页面正在跳转中，请耐心等待。
        </p>
    </div>
</div>
<div class="wrapper">
    <!-- Homepage 送你一个微信红包，打开 -->
    <section class="pin pin-1">
       <div class="p1-inner">
            <div class="logo">
                <img src="/images/logo.png" alt=""/>
            </div>
           <div class="btn-open fade animate delay1">
               <img src="/images/btn-open.png" alt=""/>
           </div>
           <div class="p1-t1 fade animate delay2">
               <img src="/images/t1.png" alt=""/>
           </div>
       </div>
    </section>

    <!-- 手机验证-->
    <section class="pin pin-2">
        <div class="logo">
            <img src="/images/p2-logo.png" alt=""/>
        </div>
        <form action="" class="form-validate">
            <div class="input-box input-box-phone">
                <input type="tel" class="input-phone" name="phone" maxlength="11" placeholder="输入手机号"/>
            </div>
            <div class="input-box input-box-keycode">
                <input type="text" class="input-keycode" placeholder="输入验证码"/>
                <button class="btn-getkeycode"></button>
            </div>
        </form>
        <div class="btn-submit">
            <img src="/images/btn-submit2.png" alt=""/>
        </div>
        <div class="privacy-term">
            <img src="/images/p2-private.png" alt=""/>
        </div>
        <div class="p2-search">
            <img src="/images/p2-search.png" alt=""/>
        </div>
        <div class="term-pop hide">
            <div class="term-text">
                <img src="/images/p2-pop-text.png" alt=""/>
            </div>
            <div class="btn-close"></div>
            <div class="tips">
                <img src="/images/tips-text.png" alt=""/>
            </div>
        </div>
    </section>

    <!-- 验证成功后看到获得金额 -->
    <section class="pin pin-3">
        <div class="logo">
            <img src="/images/p3-logo.png" alt=""/>
        </div>
        <div class="p3-t1">
            <div class="tt t1"></div>
            <div class="tt t2 money2"></div>
            <div class="tt t3"></div>
        </div>
        <div class="btn btn-get">
            <img src="/images/btn-get.png" alt=""/>
        </div>
        <div class="btn btn-share">
            <img src="/images/btn-share.png" alt=""/>
        </div>
    </section>
</div>
<div class="qrcode-pop popup hide">
    <!--<img src="/images/p4-qrcode.png" alt=""/>-->
    <div class="qrcode">
        <img src="/images/qrcode.png" alt=""/>
    </div>
    <div class="qrcode-text qt-yes">
        <img src="/images/redpacket-yes.png" alt=""/>
    </div>
    <div class="qrcode-text qt-no hide">
        <img src="/images/redpacket-no.png" alt=""/>
    </div>
    <div class="minite-30">
        <img src="/images/min-30.png" alt=""/>
    </div>
</div>
<div class="share-pop popup hide">
    <div class="share-1">
        <img src="/images/share-overlay.png" alt=""/>
    </div>
    <div class="share-2">
        <img src="/images/p3-pop-text.png" alt=""/>
    </div>
    <div class="p3-3">
        <img src="/images/p3-3.png" alt=""/>
    </div>
    <div class="btn-close"></div>
</div>
<div class="popup tips-pop hide">
    <div class="inner">
        <div class="tips-1"></div>
        <div class="btn-tips btn-tips-yes"></div>
        <div class="btn-tips btn-tips-no"></div>
    </div>
    <div class="tips-text">
        <img src="/images/tips-text.png" alt=""/>
    </div>
</div>
</body>
</html>